---
// src/components/Header.astro
import { Image } from 'astro:assets';
import logoSrc from '@/assets/logo.png'; // Using the simple path alias
---

<header class="site-header">
  <div class="container">
    <a href="/" class="logo-link">
      <Image 
        src={logoSrc} 
        alt="BOSS Logo" 
        class="logo-img"
        height="50"
      />
    </a>
  </div>
</header>

<style>
  .site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 80px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo-img {
    height: 50px;
    width: auto;
  }
</style>