---
// src/pages/index.astro
import Hero from './components/Hero.astro';
import Contact from './components/Contact.astro';
import Newsletter from './components/Newsletter.astro';
import Header from './components/Header.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/icon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>BOSS - Be the Boss of Your System</title>
    <style is:global>
      /* Simple CSS Reset and Global Styles */
      :root {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        line-height: 1.5;
      }
      body {
        margin: 0;
        background-color: #fff;
        color: #222;
        padding-top: 80px; 
      }
      h1, h2, h3, p {
        margin: 0;
      }
      /* Smooth scrolling for anchor links */
      html {
        scroll-behavior: smooth;
      }
    </style>
  </head>
  <body>
    <main>
      <Header />
      <Hero />
      <Newsletter/>
      <Contact />
    </main>
  </body>
</html>