---
// src/components/Contact.astro
---
<section id="contact" class="contact">
    <div class="container">
        <h2>Need more answers?</h2>
    
        <a href="/contact" class="cta-button">Reach out!</a>
    </div>
</section>

<style>
    .contact {
        padding: 4rem 1rem;
        text-align: center;
        /*background-color: #1a1a1a;*/
    }
    .container {
        max-width: 800px;
        margin: 0 auto;
    }
    h2 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        color: #d0d0d0;
    }

          .cta-button {
    background-color: #8030cc;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  .cta-button:hover {
    background-color: #7a4bb0;
  }
</style>